<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  content="5; URL=/dashboard/"/>
    <title>Dashboard</title>
</head>
<body>
<h1>Dashboard</h1>
<h3>The Simulated Data for each data packet sent is shown:</h3>
<div>
    <style>body {
        font-family: 'Open Sans', sans-serif;
      }
      
      .graph .labels.x-labels {
        text-anchor: middle;
      }
      
      .graph .labels.y-labels {
        text-anchor: end;
      }
      
      
      .graph {
        height: 500px;
        width: 800px;
      }
      
      .graph .grid {
        stroke: #ccc;
        stroke-dasharray: 0;
        stroke-width: 1;
      }
      
      .labels {
        font-size: 13px;
      }
      
      .label-title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        fill: black;
      }
      
      .data {
        fill: red;
        stroke-width: 1; 
      }</style>

<svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img">
    <g class="grid x-grid" id="xGrid">
      <line x1="90" x2="90" y1="5" y2="371"></line>
    </g>
    <g class="grid y-grid" id="yGrid">
      <line x1="90" x2="705" y1="370" y2="370"></line>
    </g>
      <g class="labels x-labels">
      <text x="100" y="400">1</text>
      <text x="246" y="400">2</text>
      <text x="392" y="400">3</text>
      <text x="538" y="400">4</text>
      <text x="684" y="400">5</text>
      <text x="400" y="440" class="label-title">TIME</text>
    </g>
    <g class="labels y-labels">
      <text x="80" y="15">15</text>
      <text x="80" y="131">10</text>
      <text x="80" y="248">5</text>
      <text x="80" y="373">0</text>
      <text x="50" y="200" class="label-title">Speed</text>
    </g>
    <g class="data" data-setname="Our first data set"> 
      <polyline
         fill="none"
         stroke="#0074d9"
         stroke-width="3"
         points="{{ xy }}"/>
      
    <!--   
      circles 
      <circle cx="90" cy="192" data-value="7.2" r="4"></circle>
      <circle cx="240" cy="141" data-value="8.1" r="4"></circle>
      <circle cx="388" cy="179" data-value="7.7" r="4"></circle>
      <circle cx="531" cy="200" data-value="6.8" r="4"></circle>
      <circle cx="677" cy="104" data-value="6.7" r="4"></circle> -->
    </g>
    </svg>
    
    
</div>
<div>
    <table id="main_dash" style="border: 1px solid black">
        The simulated data for each data package is shown below:<br><br>
        <tr>
            <th>ID</th>
            <th>Vehicle Name</th>
            <th>Vehicle Owner</th>
            <th>Time</th>
            <th>Temperature</th>
            <th>X-axis accel</th>
            <th>Y-axis accel</th>
            <th>Z-axis accel</th>
            <th>FR speed</th>
            <th>FL speed</th>
            <th>BR speed</th>
            <th>BL speed</th>
            <th>FR susp</th>
            <th>FL susp</th>
            <th>BR susp</th>
            <th>BL susp</th>
        </tr>
        {% for item in all_data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.owner }}</td>
                <td>{{ item.created_at }}</td>
                <td>{{ item.temperature }}</td>
                <td>{{ item.acceleration_x }}</td>
                <td>{{ item.acceleration_y }}</td>
                <td>{{ item.acceleration_z }}</td>
                <td>{{ item.wheel_speed_fr }}</td>
                <td>{{ item.wheel_speed_fl }}</td>
                <td>{{ item.wheel_speed_br }}</td>
                <td>{{ item.wheel_speed_bl }}</td>
                <td>{{ item.suspension_fr }}</td>
                <td>{{ item.suspension_fl }}</td>
                <td>{{ item.suspension_br }}</td>
                <td>{{ item.suspension_bl }}</td>
            </tr>
        {%  endfor %}
        {#            Data Package ID: {{  item.id }}<br>#}
        {#            Name of the sender: {{ item.name }} <br>#}
        {#            Owner of the vehicle: {{  item.owner }}<br>#}
        {#            Time at which data was sent: {{ item.created_at }}<br>#}
        {#            Temperature of the vehicle: {{ item.temperature }}<br>#}
        {#            Acceleration of the vehicle: x-axis:  {{ item.acceleration_x }} , y-axis: {{item.acceleration_y  }}, z-axis: {{ item.acceleration_z }}<br>#}
        {#            Wheel Speed (4 Wheels): FR: {{item.wheel_speed_fr}}, FL: {{item.wheel_speed_fl}}, BR: {{item.wheel_speed_br}}, BL: {{item.wheel_speed_bl}}<br>#}
        {#            Compression/Suspension of the 4 Wheels: FR: {{item.suspension_fr}}, FL: {{item.suspension_fr}}, BR: {{item.suspension_fr}}, BL: {{item.suspension_fr}}<br>#}
    </table>
</div>
</body>
</html>