{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Mercury Telemetry</title>
    <link rel="icon" href="{% static 'mercury/motorsports_logo.png' %}">
  </head>

  <body>

    {% include 'banner.html' %}
    <div id="grafana-base">
      <div id="grafana-panel">

        <h1>NYU Motorsports Telemetry</h1>
        <br>
        Telemetry platform for monitoring NYU’s Motorsports SAE BAJA competition vehicle. This platform supports reception and visualization of data from the competition vehicle along with several auxilary features. Each section of the platform and its functionality is explained below.
        <br>
        <br>

        <div id="grafana-text-box">
          <h3>Dashboard</h3>
          Lauches a data visualization tool in a new window. This tool queries the team's database and uses the return values to populate several graphs. These graphs can be configured to fit the team's needs. Graphs can also be added or deleted as new data sources become available.
        </div>
        <br>

        <div id="grafana-text-box">
          <h3>Stopwatch</h3>
          Time the race with the Stop Watch feature. This allows for overall time, as well as individual lap times, to be tracked in the user's browser.
        </div>
        <br>

        <div id="grafana-text-box">
          <h3>Raw Telemety</h3>
          This portal allows the raw data to be viewed. This is useful for debugging and understanding the models behind the data visualization portal. Data generated in the simulator will appear here, as well as any data from vehicle sensors.
        </div>
        <br>

        <div id="grafana-text-box">
          <h3>Simulator</h3>
          Generates mock vehicle data. Allows the user to experiment with different data patters on the visualization portal and raw telemetry portal.
        </div>
        <br>

        <div id="grafana-text-box">
          <h3>CAN Decoder</h3>
          Input CAN messages and view the return values. This portal sends user input to the CAN decoder API endpoint and returns the decoded JSON values. Useful for learning CAN's format and the differences between structured and CAN data.
        </div>

      </div>
    </div>
    <br><br>
  <!-- Footer -->
<footer id= "footer" class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
    <br><br>
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 align="center" class="font-weight-bold text-uppercase mb-4">New York University</h5>
        <p align="center">New York University (NYU) is a private research university based in New York City. Founded in 1831,
            NYU's historical campus is in Greenwich Village, Lower Manhattan. NYU also
            has degree-granting campuses in Abu Dhabi and Shanghai, and academic centers in Accra,
            Berlin, Buenos Aires, Florence, London, Los Angeles, Madrid, Paris, Prague, Sydney, Tel Aviv, and Washington, D.C.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> moon@nyu.edu</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follows us OR ADD LOGOS here? @Team thoughts?</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
    <div class="footer-copyright text-center py-3" align="center">
        <p>© 2018 Copyright: Team Moonsurvivors</p>
  </div>
    <br>
  <!-- Copyright -->

</footer>
<!-- Footer -->



  </body>
</html>
