{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mercury/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simulator</title>
    <script src="{% static "mercury/js/jquery-3.4.1.js" %}"></script>
    <script src="{% static "mercury/js/simulator.js" %}"></script>
</head>
<body>
<h1 align="center">Simulator Panels</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center">
            <strong>
            <h1>Simulating Mock Data</h1>
            </strong>
            {% if form %}
                <form method="POST" action="" id="TemperatureForm">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form|crispy }}
                    <input type="submit" class="submitbutton btn btn-primary" name="Continuous" value="Continuous Submission">
                    <input type="submit" class="submitbutton btn btn-primary" name="Once" value="Submit Once">
                    <input type="submit" class="submitbutton btn btn-primary" name="Stop" value="Stop Submission">
                </form>
            {% endif %}

             <h1>Acceleration Sensor</h1>
            {% if form_accel %}
                <form method="POST" action="" id="AccelerationForm">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form_accel|crispy }}
                    <input type="submit" class="submitbutton_accel btn btn-primary" name="Continuous" value="Continuous Submission">
                    <input type="submit" class="submitbutton_accel btn btn-primary" name="Once" value="Submit Once">
                    <input type="submit" class="submitbutton_accel btn btn-primary" name="Stop" value="Stop Submission">
                </form>
            {% endif %}
            <h1>Wheel Speed Sensor</h1>
            {% if form_ws %}
                <form method="POST" action="" id="WheelSpeedForm">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form_ws|crispy }}
                    <input type="submit" class="submitbutton_ws btn btn-primary" name="Continuous" value="Continuous Submission">
                    <input type="submit" class="submitbutton_ws btn btn-primary" name="Once" value="Submit Once">
                    <input type="submit" class="submitbutton_ws btn btn-primary" name="Stop" value="Stop Submission">
                </form>
            {% endif %}
            <h1>Suspension Sensor</h1>
            {% if form_ss %}
                <form method="POST" action="" id="SuspensionForm">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form_ss|crispy }}
                    <input type="submit" class="submitbutton_ss btn btn-primary" name="Continuous" value="Continuous Submission">
                    <input type="submit" class="submitbutton_ss btn btn-primary" name="Once" value="Submit Once">
                    <input type="submit" class="submitbutton_ss btn btn-primary" name="Stop" value="Stop Submission">
                </form>
            {% endif %}
            <h1>Fuel Level Sensor</h1>
            {% if form_fl %}
                <form method="POST" action="" id="FuelLevelForm">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form_fl|crispy }}
                    <input type="submit" class="submitbutton_fl btn btn-primary" name="Continuous" value="Continuous Submission">
                    <input type="submit" class="submitbutton_fl btn btn-primary" name="Once" value="Submit Once">
                    <input type="submit" class="submitbutton_fl btn btn-primary" name="Stop" value="Stop Submission">
                </form>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>